@keyframes ldio-9zfiu9m71zr {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-9zfiu9m71zr div {
    left: 99px;
    top: 50px;
    position: absolute;
    animation: ldio-9zfiu9m71zr linear 1s infinite;
    background: var(--primary-color-light);
    width: 2px;
    height: 40px;
    border-radius: 1px / 20px;
    transform-origin: 1px 50px;
  }.ldio-9zfiu9m71zr div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.95s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(2) {
    transform: rotate(18deg);
    animation-delay: -0.9s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(3) {
    transform: rotate(36deg);
    animation-delay: -0.85s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(4) {
    transform: rotate(54deg);
    animation-delay: -0.8s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(5) {
    transform: rotate(72deg);
    animation-delay: -0.75s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(6) {
    transform: rotate(90deg);
    animation-delay: -0.7s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(7) {
    transform: rotate(108deg);
    animation-delay: -0.65s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(8) {
    transform: rotate(126deg);
    animation-delay: -0.6s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(9) {
    transform: rotate(144deg);
    animation-delay: -0.55s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(10) {
    transform: rotate(162deg);
    animation-delay: -0.5s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(11) {
    transform: rotate(180deg);
    animation-delay: -0.45s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(12) {
    transform: rotate(198deg);
    animation-delay: -0.4s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(13) {
    transform: rotate(216deg);
    animation-delay: -0.35s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(14) {
    transform: rotate(234deg);
    animation-delay: -0.3s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(15) {
    transform: rotate(252deg);
    animation-delay: -0.25s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(16) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(17) {
    transform: rotate(288deg);
    animation-delay: -0.15s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(18) {
    transform: rotate(306deg);
    animation-delay: -0.1s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(19) {
    transform: rotate(324deg);
    animation-delay: -0.05s;
    background: #a2d5c6;
  }.ldio-9zfiu9m71zr div:nth-child(20) {
    transform: rotate(342deg);
    animation-delay: 0s;
    background: #a2d5c6;
  }
  .loadingio-spinner-spinner-f3w4rmbc7l6 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
    transform: scale(0.6);
  }
  .ldio-9zfiu9m71zr {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-9zfiu9m71zr div { box-sizing: content-box; }
  /* generated by https://loading.io/ */