@keyframes appearance {
    from {
      transform: scale(0.01);
      border-radius: 50%;
      opacity: 0.7;
    }
  
    to {
      transform: scale(1);
      border-radius: 0;
      opacity: 1;
    }
  }

.zooming-intro {
    background-color: var(--bg-color-light);
    transition-duration: var(--animation-duration);
    transition-timing-function: ease-out;
}

.zooming-intro:not(.loaded) {
  transform: scale(0.001);
  border-radius: 50%;
  opacity: 0;
}

.zooming-intro.loaded {
  transform: scale(1);
  border-radius: 0;
  opacity: 1;
}