.password-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input:focus {
    border-bottom-width: 2px;
    padding-bottom: 7px;
}

input:invalid:not(.empty) {
    border-bottom-color: var(--alert-color);
}

.visibility-button {
    background-color: var(--bg-color-light);
    padding: 5px 8px;
    margin-left: -40px;
}

.required_label {
    width: 0;
    position: absolute;
    transform: translate(0, 8px);
    align-self: flex-start;
}