.new-post-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background: linear-gradient(180deg, var(--primary-color-dark), var(--highlight-color));
    
}