@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color-light: #fdedcb;
  --primary-color-light: #a2d5c6;
  --primary-color-dark: #077b8a;
  --highlight-color: #5c3c92;
  --alert-color: #d72631;
  --foreground-color-dark: #2a1d00;
  --foreground-color-light: #4c3400;
}

input, button {
  font-family: "Lora", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
